body, .section {
  height: 100vh;
  width: 100%;
}

.main>.visible {
  opacity: 1;
}

.notification a {
  color: white;
}

.main>div{
  position: fixed;
  opacity: 0.1;
  transition: all 1s ease-in-out;
  width: 50%;
  height: 50%;
  padding: 2em;
  overflow: scroll;
}

.focused {
  left: 15% !important;
  top: 15% !important;
  width: 70% !important;
  height: 70% !important;
  opacity: 1;
  z-index: 10;
}

.api-results {
  margin: auto;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.charts div{
  transition: all 1s ease-in-out;
  margin: 0.5em;
  border: 1px solid white;
}
